.ampy {
  position: absolute;
  display: inline-block;
  width: 300px;
  bottom: 0;
  right: 10%;
}

.ampy img {
  display: block;
  width: 100%;
}

.speech-bubble {
  background: #d6d6d6;
  border-radius: 0.4em;
  position: absolute;
  min-height: 100px;
  min-width: 200px;
  padding: 16px;
  top: -10%;
  left: 80%;
  transform: rotate(10deg);
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 54px solid transparent;
  border-top-color: #d6d6d6;
  border-bottom: 0;
  border-left: 0;
  margin-left: -27px;
  margin-bottom: -54px;
}
